{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block main %}
	<div class="container text-white text-center">
		<div class="row">
			<form method="post" class="col-lg-5 col-md-6 ms-auto me-auto">
				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté en tant que
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Se d&eacute;connetcer</a>
					</div>
				{% endif %}

				<h1 class="mb-3">Connexion</h1>
				<div class="text-start py-2">
					<label for="inputEmail" class="form-label">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				</div>
				<div class="text-start py-2">
					<label for="inputPassword" class="form-label">Mot de Passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				</div>
				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn btn-primary my-2" type="submit">Se connecter</button>
			</form>
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
		</div>
	</div>

{% endblock %}
