{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block main %}
    <h1 class="text-white text-center">Listes des séries</h1>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 align-items-stretch justify-content-around card-deck">
        {% for series in series %}
        <div class="card text-white bg-dark p-0" style="width: 18rem;">
            <img class="card-img-top" src="{{ path("series_poster", {"id": series.id}) }}" alt="Poster" width="100">
            <div class="card-body">
                <h5 class="card-title">{{ series.title }}</h5>
                <!-- <p class="card-text">{{ series.plot|slice(0, 200) ~ '...' }}</p> -->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-white bg-dark">{{ series.awards }}</li>
                <li class="list-group-item text-white bg-dark">{{ series.yearStart == '' ? '?' : series.yearStart }} - {{ series.yearEnd == '' ? '?' : series.yearEnd }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">YouTube Trailer</a>
                <a href="#" class="card-link">Plus d'informations</a>
            </div>
        </div>
        {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
        {% endfor %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Plot</th>
                <th>Imdb</th>
                <th>Poster</th>
                <th>Director</th>
                <th>YoutubeTrailer</th>
                <th>Awards</th>
                <th>YearStart</th>
                <th>YearEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.id }}</td>
                <td>{{ series.title }}</td>
                <td>{{ series.plot }}</td>
                <td>{{ series.imdb }}</td>
                <td><img src="{{ path("series_poster", {"id": series.id}) }}" alt="Poster"></td>
                <td>{{ series.director }}</td>
                <td>{{ series.youtubeTrailer }}</td>
                <td>{{ series.awards }}</td>
                <td>{{ series.yearStart }}</td>
                <td>{{ series.yearEnd }}</td>
                <td>
                    <a href="{{ path('series_show', {'id': series.id}) }}">show</a>
                    <a href="{{ path('series_edit', {'id': series.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('series_new') }}">Create new</a>
{% endblock %}
