{% extends 'base.html.twig' %}
{% block title %}Series
{% endblock %}
{% block main %}
	<h1 class="text-white text-center">Listes des séries{% if route == "user_series" %} que vous suivez{% endif %}</h1>
	{% if app.user %}
		<div class="text-center text-white">
		<a class="text-white" href="{{ path('series_index') }}"><i class="bi bi-x-circle"></i></a>
		{% if order == 'ASC' %}
			<a href="{{ path('series_index', {'s': 'DESC'}) }}"><i class="bi bi-sort-numeric-up text-white"></i></a>
			<p>Les moins bien notées en premières.</p>
		{% elseif order == 'DESC' %}
			<a href="{{ path('series_index', {'s': 'ASC'}) }}"><i class="bi bi-sort-numeric-down text-white"></i></a>
			<p>Les mieux notées en premières</p>
		{% else %}
			<a href="{{ path('series_index', {'s': 'DESC'})}}"><i class="bi bi-sort-numeric-up text-white"></i></a>
			<p>Séries triées par titre</p>
		{% endif %}
		</div>
	{% endif %}
		<div class="container">
		<div class="row justify-content-center justify-content-md-evenly">
			{% for result in series %}
				{% set serie = result[0] %}
				{% set avg = result[1] %}
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-auto py-3 text-center">
					<div class="card bg-transparent text-white p-0 d-inline-flex border-0" style="width: 250px;">
						<div class="card-body overflow-hidden text-center p-0">
							<a class="poster-container" href="{{ path('series_show', {'id': serie.id}) }}">
								<img class="poster rounded" src="{{ path("series_poster", {"id": serie.id}) }}" alt="Poster">
								<i class="bi bi-play-circle play"></i>
							</a>
						</div>
						<div class="bg-transparent text-center">
							<h5 class="card-title m-0">{{ serie.title }}</h5>
							<p class="card-text rating fw-bold yellow">IMDB :
								{{ serie.externalrating[0].value }}
								<br>
								Rating :
								{% if avg == NULL %}
									/
								{% else %}
								{{ avg }}
								{% endif %}
							</p>
						</div>
					</div>
				</div>
			{% else %}
				<h3 class="text-center text-white">Aucune série n'a été trouvée.</h3>
			{% endfor %}
		</div>
		{{ knp_pagination_render(series) }}
	</div>
{% endblock %}
