{% extends 'base.html.twig' %}

{% block title %}Series
{% endblock %}
{% block main %}
	<div class="container white mt-5">
		<div class="row">
			<div class="col-2 text-center">
				<img class="rounded" src="{{ path("series_poster", {"id": series.id}) }}" alt="Poster" height="300px" width="200px">
			</div>
			<div class="col-10">
				<div class="title">
					<h2>{{ series.title }}</h2>
				</div>
				<div class="tags">
					<span>
						{% for genre in series.genre %}
							{{ genre.name }}
						{% endfor %}
					</span>
					<span>
						<i class="bi bi-calendar-date yellow"></i>
						{{ series.yearStart }}</span>
					<span class="yellow">? Saisons</span>
                    <ul>
						{% for season in series.seasons %}
							<li><a href="{{ path('show_season', {'serie': series.id ,'season': season.id}) }}">Saison {{ season.number }}</a> : {{ season.episodes|length }} épisodes</li>
						{% endfor %}
					</ul>
				</div>
				<div class="plot mt-3">
					{{series.plot}}
				</div>
				<ul class="d-flex flex-wrap list-unstyled mt-3">
					<li>
						<span class="director yellow">Directeur</span>
						<p>{{ series.director }}</p>
					</li>
					<li class="ms-3">
						<span class="actor yellow">Actor</span>
						<p class="mt-2">
							{% for actors in series.actor %}
								{{ actors.name }}
							{% endfor %}
						</p>
					</li>
					<li class="ms-3">
						<span class="awards"><i class="bi bi-award-fill yellow"></i></i></span>
						<p class="mt-2">{{ series.awards }}</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="d-flex justify-content-between align-content-center mt-3 external-link p-3 rounded">
            <div>
                <a class="btn btn-outline-dark" href="{{ path("series_imdb", {"id": series.id}) }}" role="button">
                    <p class="m-0 yellow rating fw-bold">IMDB : {{ series.externalrating[0].value }}</p>
                </a>
            </div>
            <div>
                <a class="btn btn-outline-light " href="{{ path("series_trailer", {"id": series.id}) }}" role="button"><i class="bi bi-youtube"> Bande Annonce</i></a>
            </div>
		</div>
		{% if app.user %}
			<h2>Ajouter un commentaire</h2>
			{{ form(ratingForm) }}
		{% endif %}
		<ul>
			{% for rating in series.ratings %}
				<li>
					{{ rating.user }}
					<br>
					{{ rating.value }}/10
					<br>
					{{ rating.comment }}
					<br>
					{{ rating.date }}
				</li>
			{% endfor %}
			</ul>
	</div>
	<a href="{{ path('series_index') }}">back to list</a>

	<a href="{{ path('series_edit', {'id': series.id}) }}">edit</a>

	{{ include('series/_delete_form.html.twig') }}
{% endblock %}
