{% extends 'base.html.twig' %}

{% block title %}Series
{% endblock %}
{% block main %}
	<div class="container text-white mt-5">
		{% include 'series/_serie_card.html.twig' %}
		<div class="row">
			<h2 class="liste-saisons-header border-bottom border-secondary mt-5 ms-2 pb-3 ps-0">Liste des saisons</h2>
			{% for season in series.seasons %}
				<div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center mt-3 overflow-hidden">
					<div class="card-body overflow-hidden text-center p-0">
						<a href="{{ path('season_show', {'id': season.id}) }}">
							<img class="rounded poster" src="{{ path("series_poster", {"id": series.id}) }}" alt="Poster">
						</a>
					</div>
					<div class="card-footer border-0 bg-transparent text-center">
						<h5 class="card-text m-0">Saison
							{{ season.number }}
							{% if season in seasons_watched %}
								<i class="bi bi-patch-check-fill"></i>
							{% else %}
								<i class="bi bi-patch-check"></i>
							{% endif %}
						</h5>
						<h6>{{ season.episodes|length }}
							épisodes
						</h6>
					</div>
				</div>
			{% endfor %}
		</div>
		
		<div class="row">
			<h2 class="border-bottom border-secondary mt-5 ms-2 pb-3 ps-0">Commentaires :</h2>
			{% if app.user %}
				<h3 class="mt-5 ms-2 pb-3 ps-0">Laisser un commentaire</h3>
				{{ form_start(ratingForm,{
                'attr' : {'class': 'd-flex flex-wrap col-12 flex-column'}
            }) }}
				<div class="my-2">
					{{ form_label(ratingForm.comment, 'Commentaire',{
					'label_attr' : {'class': 'form-label'}
				}) }}
					{{ form_widget(ratingForm.comment,{
					'attr' : {'class': 'form-control'}
				}) }}

					<small>{{ form_help(ratingForm.comment) }}</small>

					<div class="form-error">
						{{ form_errors(ratingForm.comment) }}
					</div>
				</div>
				<div class="col-lg-1 col-2 my-2">
					Note :
					{{ form_widget(ratingForm.value,{
					'attr' : {'class': 'note border-0 border-bottom border-white p-0 d-inline text-white text-center', 'maxlength': '2'}
				}) }}/10

					<small>{{ form_help(ratingForm.value) }}</small>

					<div class="form-error">
						{{ form_errors(ratingForm.value) }}
					</div>

				</div>
				{{ form_end(ratingForm) }}
				{% endif %}
		</div>

		{% if series.ratings|length > 0 %}
			<table class="charts-css bar show-heading show-labels show-primary-axis show-data-axes bg-white p-3 text-black w-50">
				<caption>Histogramme des notes</caption>
				{% for key, value in histogramme %}
					<tr>
						<th scope="row">{{ key }}</th>
						<td style="width:{{ value * 100 / series.ratings|length }}%">
							<div class="me-1">
								{{ value }}
							</div>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		<div class="row my-5">
			{% if series.ratings|length > 0 %}
				{% for rating in series.ratings %}
					<div class="d-flex flex-column col-lg-2 col-md-3 col-5 text-center commentaire rounded mx-3 my-3 px-0">
						<div class="pt-3 py-2 border-bottom pt-2">
							<p class="yellow m-0 fw-bold">{{ rating.user }}</p>
							<p class="red m-0 fw-bold">{{ rating.value }}/10</p>
						</div>
						<div class="py-2 mx-2">
							<p class="m-1">{{ rating.comment }}</p>
						</div>
						<div class="border-top pt-2 bg-dark py-2 mt-auto">
							<p class="m-0 text-light">
								{{ rating.date }}
								{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('delete_rating', {'id': rating.id}) }}">
									<i class="bi bi-trash-fill white"></i>
								</a>
								{% endif %}
							</p>
						</div>

					</div>
				{% endfor %}
			{% else %}
				<h3 class="text-center text-white">Il n'y a pas de commentaire</h3>
			{% endif %}
		</div>
	</div>
{% endblock %}
