{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block main %}
    <h1 class="text-center text-white">Bienvenue sur notre site :)</h1>
	<div class="container">
		<div class="row justify-content-center justify-content-md-evenly">
			{% for genre, series in seriesList %}
            <!-- Pour chaque "genre" -->
                <h3>{{ genre }}</h3>
                {% for serie in series %}
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-auto py-3 text-center">
					<div class="card bg-transparent text-white p-0 d-inline-flex border-0" style="width: 250px;">
						<div class="card-body overflow-hidden text-center p-0">
							<a class="poster-container" href="{{ path('series_show', {'id': serie.id}) }}">
								<img class="poster rounded" src="{{ path("series_poster", {"id": serie.id}) }}" alt="Poster">
								<i class="bi bi-play-circle play"></i>
							</a>
						</div>
						<div class="bg-transparent text-center">
							<h5 class="card-title m-0">{{ serie.title }}</h5>
							<p class="card-text rating fw-bold yellow">IMDB :
								{{ serie.externalrating[0].value }}
							</p>
						</div>
					</div>
				</div>
			{% else %}
				<p>Aucune série n'a été trouvée.</p>
			{% endfor %}
            {% endfor %}
		</div>
	</div>
{% endblock %}